@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

/* 

.webgl {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  outline: none;
} */
